table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 16px;
  text-align: left;
}

td#name {
  width: 90%;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: gray;
}

a:focus {
  color: gray;
}

a:active {
  color: black;
}
