<div fxLayout="row">
  <div fxFlex="20" fxFlex.xs="0"></div>
  <div fxFlex="60" fxFlex.xs="100" id="main-content">
    <div style="text-align:center">
      <img fxFlex="30" fxFlex.xs="100" alt="Angular Logo" src="../assets/OpenChennai_logo.png">
    </div>
    <hr>
    <br>
    <div fxFlex="100" fxLayout="row" style="text-align:center">
      <div fxFlex="25">
        <a target="_blank" rel="noopener" class="social" href="https://twitter.com/openchennai">
          <div>
            <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
          </div>
          <div>Twitter</div>
        </a>
      </div>
      <div fxFlex="25">
        <a target="_blank" rel="noopener" class="social" href="https://www.facebook.com/openchennai">
          <div>
            <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
          </div>
          <div>Facebook</div>
        </a>
      </div>
      <div fxFlex="25">
        <a target="_blank" rel="noopener" class="social" href="https://www.instagram.com/openchennai">
          <div>
            <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
          </div>
          <div>Instagram</div>
        </a>
      </div>
      <div fxFlex="25">
        <a target="_blank" rel="noopener" class="social" href="https://github.com/OpenChennai">
          <div>
            <fa-icon [icon]="['fab', 'github']"></fa-icon>
          </div>
          <div>GitHub</div>
        </a>
      </div>
    </div>
    <br>
    <hr>
    <h3>What is Open Chennai?</h3>
    <div>Open Chennai is a collective effort by the citizens of Chennai. We report and keep track of civic issues within the city.</div>

    <h3>What do we gain by reporting and tracking issues?</h3>
    <div>We want to record concerns of citizens in an open manner and never lose track of them.</div>

    <h3>Is any action guaranteed to fix the reported issues?</h3>
    <div>We hope to get involved in taking action as well, but no promises for now.</div>

    <h3>If no action is guaranteed, what is the actual benefit?</h3>
    <div>Think of Wikipedia. Now imagine something like that for the city's civic issues. Documenting issues is the first step towards solving them.</div>

    <h3>Is there any benefit for me, individually?</h3>
    <div>We even have a leaderboard below, if you are into such things!</div>

    <h3>Where do I view already reported issues?</h3>
    <div>
      <div>We are currently using GitHub to track issues. Follow the links to find issues under different sections.
      </div>
      <ul>
        <li>
          <a target="_blank" rel="noopener" href="https://github.com/OpenChennai/Roads/issues">Roads</a>
        </li>
        <li>
          <a target="_blank" rel="noopener" href="https://github.com/OpenChennai/Water-and-Sanitation/issues">Water and
            Sanitation</a>
        </li>
        <li>
          <a target="_blank" rel="noopener" href="https://github.com/OpenChennai/Electricity/issues">Electricity</a>
        </li>
        <li>
          <a target="_blank" rel="noopener" href="https://github.com/OpenChennai/Garbage/issues">Garbage</a>
        </li>
        <li>
          <a target="_blank" rel="noopener" href="https://github.com/OpenChennai/Public-Transport/issues">Public
            Transport</a>
        </li>
        <li>
          <a target="_blank" rel="noopener" href="https://github.com/OpenChennai/Traffic/issues">Traffic</a>
        </li>
        <li>
          <a target="_blank" rel="noopener" href="https://github.com/OpenChennai/Trees/issues">Trees</a>
        </li>
        <li>
          <a target="_blank" rel="noopener" href="https://github.com/OpenChennai/Parks-and-Playgrounds/issues">Parks and
            Playgrounds</a>
        </li>
      </ul>
    </div>

    <h3>How do I report issues?</h3>
    <div>
      <h4>The easy way</h4>
      <div>Report issues to us on
        <a target="_blank" rel="noopener" href="https://twitter.com/openchennai">Twitter</a>,
        <a target="_blank" rel="noopener" href="https://www.facebook.com/openchennai/">Facebook</a>
        or on
        <a target="_blank" rel="noopener" href="https://www.instagram.com/openchennai">Instagram</a>.
      </div>
      <h4>The better way</h4>
      <div>
        Raise GitHub issues on the respective repositories. If you are not familiar with raising GitHub
        issues,
        <a target="_blank" rel="noopener" href="https://help.github.com/articles/signing-up-for-a-new-github-account">create
          a GitHub account</a>
        and find out how to create issues
        <a target="_blank" rel="noopener" href="https://help.github.com/articles/creating-an-issue">here</a>.
      </div>
    </div>

    <h3>Are there general guidelines for reporting an issue?</h3>
    <div>
      Use the following template at the beginning when creating a new issue:
      <ul>
        <li>Reporter: <i>name of reporter</i></li>
        <li>Link: <i>link to their social account</i></li>
      </ul>
      Please be as detailed as you can and add photos, links to the geographical location of the issue, if possible.
    </div>

    <h3>Who is running this effort? What are your motivations?</h3>
    <div>We are just a group of individuals coming together to solve our own problems. We have no affiliations to any
      political entity and our intention is to build a community of like-minded citizens to solve our city's problems.
    </div>

    <br>
    <hr>

    <app-leaderboard></app-leaderboard>
  </div>
  <div fxFlex="20" fxFlex.xs="0"></div>
</div>
