<div fxLayout="row">
  <div fxFlex="5" fxFlex.xs="0"></div>
  <div fxFlex="90" fxFlex.xs="100" id="main-content">
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="100" style="height: 40px; text-align: center;">
        <img style="max-width: 100%; max-height: 100%;" alt="Angular Logo"
             src="../assets/OpenChennaiHorizontalLogo.png">
      </div>
    </div>
    <iframe src="https://calendar.google.com/calendar/embed?mode=DAY&amp;dates=20191026/20191026&amp;src=ialh74nmn6arg2r9rlrsp23uq4%40group.calendar.google.com&ctz=Asia%2FKolkata"
              style="border: 0" width="100%" height="650px" frameborder="0" scrolling="no">
      </iframe>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
        <div fxFlex="60">
          <div>
            Open Chennai provides you with a collection of latest events happening in Chennai.
          </div>
        </div>
        <div fxFlex="45" fxLayout="column">
          <div fxLayout="column">
            <div>Follow us on social networks to receive the latest updates:</div>
            <div fxLayout="row">
              <div fxFlex="grow">
                <a target="_blank" rel="noopener" class="social" href="https://twitter.com/openchennai">
                  <div>
                    <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                    Twitter
                  </div>
                </a>
              </div>
              <div fxFlex="grow">
                <a target="_blank" rel="noopener" class="social" href="https://www.facebook.com/openchennai">
                  <div>
                    <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                    Facebook
                  </div>
                </a>
              </div>
              <div fxFlex="grow">
                <a target="_blank" rel="noopener" class="social" href="https://www.instagram.com/openchennai">
                  <div>
                    <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                    Instagram
                  </div>
                </a>
              </div>
          </div>
          </div>
        </div>
      </div>

  <!--    <h2 id="Events" style="padding-top: 16px;">Events in Chennai</h2>-->

      <br>
      <br>

    </div>
  <div fxFlex="5" fxFlex.xs="0"></div>
</div>
