#main-content {
  background-color: white;
  padding: 10px;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: gray;
}

a:focus {
  color: gray;
}

a:active {
  color: black;
}

a.social {
  text-decoration: none !important;
}

a.menu {
  text-decoration: none !important
}

a.sections {
  text-decoration: underline !important;
}

.formInput {
  margin-top: 8px;
}

h4 {
  font-weight: bold;
}
