<div fxLayout="row">
  <div fxFlex="5" fxFlex.xs="0"></div>
  <div fxFlex="90" fxFlex.xs="100" id="main-content">
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="20" fxFlex.xs="100">
        <img style="max-width: 100%; max-height: 100%;" alt="Angular Logo"
             src="../assets/OpenChennaiHorizontalLogo.png">
      </div>
      <div fxFlex="80" fxFlex.xs="100" fxLayout="row" fxLayoutAlign="end" fxLayoutAlign.xs="start" fxLayoutGap="20px"
           style="padding-top: 8px;">
        <div><h4><a class="menu" href="/">Home</a></h4></div>
        <div><h4><a class="menu" href="#Events">Events in Chennai</a></h4></div>
        <div><h4><a class="menu" href="#FAQ">FAQ</a></h4></div>
        <div><h4><a class="menu" href="#Map">Map</a></h4></div>
        <div><h4><a class="menu" href="#Leaderboard">Leaderboard</a></h4></div>
        <div><h4><a class="menu" href="#ReportIssue">Report Issue</a></h4></div>
      </div>
    </div>

    <hr>
    <br>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
      <div fxFlex="60" style="text-align: center;">
        <iframe style="height: 100%; min-height: 100%; width:80%; min-width: 80%"
                src="https://www.youtube-nocookie.com/embed/LMVhzLWFWNE?rel=0" frameborder="0"
                allow="encrypted-media" allowfullscreen></iframe>
      </div>
      <div fxFlex="40" fxLayout="column">
        <div style="margin-top: 8px;">
          Open Chennai is a collective effort by the citizens of Chennai. We report and keep track of civic issues
          within the city.
        </div>
        <div fxLayout="column" style="margin-top: 30px;">
          <div>Follow us on social networks:</div>
          <div style="margin-top: 24px;">
            <a target="_blank" rel="noopener" class="social" href="https://twitter.com/openchennai">
              <div>
                <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                Twitter - OpenChennai
              </div>
            </a>
          </div>
          <div style="margin-top: 24px;">
            <a target="_blank" rel="noopener" class="social" href="https://www.facebook.com/openchennai">
              <div>
                <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                Facebook - OpenChennai
              </div>
            </a>
          </div>
          <div style="margin-top: 24px;">
            <a target="_blank" rel="noopener" class="social" href="https://www.instagram.com/openchennai">
              <div>
                <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                Instagram - OpenChennai
              </div>
            </a>
          </div>
          <div style="margin-top: 24px;">
            <a target="_blank" rel="noopener" class="social" href="https://github.com/OpenChennai">
              <div>
                <fa-icon [icon]="['fab', 'github']"></fa-icon>
                GitHub - https://github.com/OpenChennai
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <h2 id="Events" style="padding-top: 16px;">Events in Chennai</h2>
    <iframe src="https://calendar.google.com/calendar/embed?mode=DAY&amp;dates=20190111/20190111&amp;src=ialh74nmn6arg2r9rlrsp23uq4%40group.calendar.google.com&ctz=Asia%2FKolkata"
            style="border: 0" width="100%" height="600" frameborder="0" scrolling="no">
    </iframe>

    <br>
    <br>

    <p>Link to open in Google Calendar app: <a target="_blank" rel="noopener" href="https://calendar.google.com/calendar?cid=aWFsaDc0bm1uNmFyZzJyOXJscnNwMjN1cTRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ">https://calendar.google.com/calendar?cid=aWFsaDc0bm1uNmFyZzJyOXJscnNwMjN1cTRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ</a></p>
    <p>Public Url to calendar: <a target="_blank" rel="noopener" href="https://calendar.google.com/calendar/embed?src=ialh74nmn6arg2r9rlrsp23uq4%40group.calendar.google.com&ctz=Asia%2FKolkata">https://calendar.google.com/calendar/embed?src=ialh74nmn6arg2r9rlrsp23uq4%40group.calendar.google.com&ctz=Asia%2FKolkata</a></p>
    <p>Link to .ics file in iCal format: <a target="_blank" rel="noopener" href="https://calendar.google.com/calendar/ical/ialh74nmn6arg2r9rlrsp23uq4%40group.calendar.google.com/public/basic.ics">https://calendar.google.com/calendar/ical/ialh74nmn6arg2r9rlrsp23uq4%40group.calendar.google.com/public/basic.ics</a></p>

    <br>
    <br>
    <hr>
    <div>
      <div>
        <ul style="padding-left: 16px">
          <div fxLayout="row" fxLayout.xs="column" style="padding-top: 16px;">
            <div fxFlex="40" fxFlex.xs="100" fxFlexOrder="2" fxFlexOrder.xs="1">
              <h3 id="Map">Map of issues</h3>
              <app-map-view></app-map-view>
            </div>
            <div fxFlex="60" fxFlex.xs="100" fxFlexOrder="1" fxFlexOrder.xs="2">
              <h3 id="FAQ">FAQ</h3>

              <li><h4>What do we gain by reporting and tracking issues?</h4></li>
              <div>We want to record concerns of citizens in an open manner and never lose track of them.</div>

              <li><h4>Is any action guaranteed to fix the reported issues?</h4></li>
              <div>We hope to get involved in taking action as well, but no promises for now.</div>

              <li><h4>If no action is guaranteed, what is the actual benefit?</h4></li>
              <div>Think of Wikipedia. Now imagine something like that for the city's civic issues. Documenting issues
                is
                the
                first step towards solving them.
              </div>
              <li><h4>Is there any benefit for me, individually?</h4></li>
              <div>We even have a leaderboard below, if you are into such things!</div>

              <li><h4>Where do I view already reported issues?</h4></li>
              <div>
                <div>We are currently using GitHub to track issues. Follow the links to find issues under different
                  sections.
                </div>
                <ul>
                  <li><a target="_blank" rel="noopener" class="sections" href="https://github.com/OpenChennai/Roads/issues">Roads</a></li>
                  <li><a target="_blank" rel="noopener" class="sections" href="https://github.com/OpenChennai/Water-and-Sanitation/issues">Water and Sanitation</a></li>
                  <li><a target="_blank" rel="noopener" class="sections" href="https://github.com/OpenChennai/Electricity/issues">Electricity</a></li>
                  <li><a target="_blank" rel="noopener" class="sections" href="https://github.com/OpenChennai/Garbage/issues">Garbage</a></li>
                  <li><a target="_blank" rel="noopener" class="sections" href="https://github.com/OpenChennai/Public-Transport/issues">Public Transport</a></li>
                  <li><a target="_blank" rel="noopener" class="sections" href="https://github.com/OpenChennai/Traffic/issues">Traffic</a></li>
                  <li><a target="_blank" rel="noopener" class="sections" href="https://github.com/OpenChennai/Trees/issues">Trees</a></li>
                  <li><a target="_blank" rel="noopener" class="sections" href="https://github.com/OpenChennai/Parks-and-Playgrounds/issues">Parks and Playgrounds</a></li>
                </ul>

                <li><h4 id="ReportIssue">How do I report issues?</h4></li>
                <div>Choose 1 of 2 the ways:</div>
                <div>
                  <ol>
                    <li><h4>Reach out to us on social networks</h4></li>
                    <div>
                      <ul>
                        <li><a target="_blank" rel="noopener" href="https://twitter.com/openchennai">Send a tweet to us on @OpenChennai</a></li>
                        <li><a target="_blank" rel="noopener" href="https://www.facebook.com/openchennai/">Message us on Facebook - Open Chennai</a></li>
                        <li><a target="_blank" rel="noopener" href="https://www.instagram.com/openchennai">Mention @OpenChennai on Instagram</a></li>
                      </ul>
                    </div>
                    <li><h4>Raise a GitHub issue directly</h4></li>
                    <div>
                      Raise GitHub issues directly on the respective projects/repositories listed above. If you are not familiar with raising GitHub issues,
                      <a target="_blank" rel="noopener" href="https://help.github.com/articles/signing-up-for-a-new-github-account">create a GitHub account</a>
                      and then create issues here: <a target="_blank" rel="noopener" href="https://github.com/OpenChennai">https://github.com/OpenChennai</a>.
                    </div>
                    <!--<li><h4>Fill a form</h4></li>-->
                    <!--<div>Please use the form below to submit your issue:</div>-->
                    <!--<app-issue-form></app-issue-form>-->
                  </ol>
                </div>
              </div>
            </div>
          </div>

          <li><h4>Are there general guidelines for reporting an issue?</h4></li>
          <div>
            Use the following template at the beginning when creating a new issue:
            <ul>
              <li>Reporter: <i>name of reporter</i></li>
              <li>Link: <i>link to their social account</i></li>
              <li>Description: <i>description of the issue</i></li>
            </ul>
            Please be as detailed as you can and add photos, links to the geographical location of the issue, if
            possible.
          </div>

          <li><h4>Who is running this effort? What are your motivations?</h4></li>
          <div>We are just a group of individuals coming together to solve our own problems. We have no affiliations to
            any
            political entity and our intention is to build a community of like-minded citizens to solve our city's
            problems.
          </div>

          <br>
          <hr>
        </ul>
      </div>
    </div>
    <app-leaderboard></app-leaderboard>
  </div>
  <div fxFlex="5" fxFlex.xs="0"></div>
</div>
